* {
  font-family: 'Konkhmer Sleokchher', sans-serif;
}

.screen {
  position: relative;
  width: 1280px;
  height: 832px;

  background: #ffffff;
}

.welcome {
  position: absolute;
  width: 840px;
  height: 179px;
  left: 176px;
  top: 192px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 150%;
  /* or 144px */
  display: flex;
  align-items: center;

  color: #000000;
}

.firstname {
  position: absolute;
  width: 881px;
  height: 92px;
  left: 176px;
  top: 290px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 150%;
  /* or 144px */
  display: flex;
  align-items: center;

  color: #000000;
}

.container3 {
  position: absolute;
  width: 395px;
  height: 110px;
  left: 176px;
  top: 500px;

  background: #000000;
  border-radius: 50px;
}

.getstarted {
  position: absolute;
  width: 284px;
  height: 37px;
  left: 252px;
  top: 536px;

  font-family: "Konkhmer Sleokchher";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */
  display: flex;
  align-items: center;

  color: #ffffff;
}

.faq {
  position: absolute;
  width: 85px;
  height: 60px;
  left: 1140px;
  top: 39px;

  font-family: "Konkhmer Sleokchher";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 60px */
  display: flex;
  align-items: center;

  color: #000000;
}

.header {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  gap: 4px;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-button {
  width: 196px;
  height: 69px;
  background: #000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button a {
  font-size: 32px;
  color: #FFF;
  text-decoration: none;
}

.header-button a:hover {
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
}

.card-body {
  padding: 0 !important;
}

.filter {
  position: relative;
  font-size: x-large;
}